<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="handleClickBtnAdd()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header *ngIf="productos.length; else noProducts">
      {{productos.length}} productos - ${{total}}
    </ion-list-header>

    <ng-template #noProducts>
      <ion-list-header> Aún no has agregado productos. </ion-list-header>
    </ng-template>

    <ion-item *ngFor="let producto of productos">
      <ion-label>{{ producto.nombre | titlecase }}</ion-label>
      <ion-label slot="end">${{ producto.precio }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
