<section class="section ion-padding">
  <div class="ion-text-center">
    <h2>{{ isNewProduct ? "Nuevo" : "Editar" }} producto</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" id="nombre" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" id="precio" formControlName="precio"></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      class="ion-margin-top"
      type="submit"
      [disabled]="!form.valid"
      >Guardar</ion-button
    >

    <ng-container *ngIf="!isNewProduct">
      <ion-button
        id="btnRemove"
        expand="block"
        class="ion-margin-top"
        color="danger"
        fill="outline"
        type="button"
        (click)="handleClickBtnRemove()"
        >Quitar</ion-button
      >
    </ng-container>
  </form>

  <ion-list class="ion-margin-top">
    <ion-list-header>
      Asignar a participante ({{ members.length }})
    </ion-list-header>

    <ion-item
      *ngFor="let member of members"
      button
      (click)="handleClickMemberItem(member)"
    >
      <ion-label>{{ member.name | titlecase }}</ion-label>
      <ion-checkbox
        slot="end"
        [(ngModel)]="member.products[product?.id]"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</section>
